google-cloud-bigquery==3.3.2
google-cloud-bigquery-storage==2.15.0
pandas==1.4.3
pandas-gbq==0.17.8
streamlit==1.12.2
xlrd==2.0.1
XlsxWriter==3.0.3
google-api-core==2.10.0
google-auth==2.9.1
google-auth-oauthlib==0.5.2
